<header class="page-header page-header-dark bg-gradient-primary-to-secondary">
    <div class="page-header-content pt-10">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6" data-aos="fade-up">
                    <h1 class="page-header-title">Your doctor, in your pocket!</h1>
                    <p class="page-header-text mb-5">We Have Integrated Computer Vision and Radiographs to elevate Diagnosing symptoms to the next level! </p>
                    <a class="btn btn-teal btn-marketing rounded-pill lift lift-sm" href="/panel">Dashboard<i class="fas fa-arrow-right ml-1"></i></a><a class="btn btn-link btn-marketing" href="/case-study">Case Study</a>
                </div>
                <div class="col-lg-6 d-none d-lg-block" data-aos="fade-up" data-aos-delay="50"><img class="img-fluid" src="/static/assets/img/drawkit/color/header.png" /></div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>

<section class="bg-white py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-10">
                    <h2>Our Case Study</h2>
                    <p class="lead">We Automated the Procedure of Diagnosing Laminitis Disease</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center mb-5">
                <div class="display-1 font-weight-bold text-gray-400">3000+</div>
                <br>
                <div class="h5">Radiographs used to our train Neural Net</div>
                <p>We've extended and created new utility classes to give you more control over your content with minimal custom CSS.</p>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <div class="display-1 font-weight-bold text-gray-400">2px</div>
                <br>
                <div class="h5">Accuracy of Prediction on Training Set</div>
                <p>We've extended and restyled Bootstrap's default components, and built a suite of new custom components.</p>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <div class="display-1 font-weight-bold text-gray-400">5px</div>
                <br>
                <div class="h5">Accuracy of Prediction on Test Set</div>
                <p>Our pre-built page examples are a perfect way to get inspired for creating new pages and views.</p>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>
