{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ object.name_hosp }}</h2>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <legend class="border-bottom mb-2">address</legend>
          <p> {{ object.address_hosp }} </p>
      </form>
    </div>
{% endblock content %}