{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ object.image_prof.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <legend class="border-bottom mb-4">Profile Info</legend>
          <div class="col-md-12">
             <legend class="border-bottom mb-2">hospitals</legend>
            {% for hosp in object.hosp_prof.all %}
                <p> <a class="ml-2" href="{% url 'hospital-detail' forloop.counter0 %}"> {{ hosp.name_hosp }} </p>
            {% endfor %}
          </div>
          <div class="form-group">
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'profile-update' %}">Edit</a>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">change password</a>
          </div>
      </form>
    </div>
{% endblock content %}
